In [17]:
import pandas as pd

with open('logs_hillc_yus.txt', 'r') as f:
    data=[x[:-1].split(': ') for x in f.readlines()]
stop_ids=[stop_id[1].split(' ')[0] for stop_id in data]
num_routes=[num_route[2].split(' ')[0] for num_route in data]
tile_gens=[tile_gen[-1] for tile_gen in data]
df1=pd.DataFrame(list(zip(stop_ids, num_routes, tile_gens)), columns=['stop_id', 'num_routes', 'tile_gens'])
df1['tile_gens']=df1['tile_gens'].astype(int)
df1['tile_gens'].sum()//60//60

12

In [21]:
with open('logs_hillc_k26.txt', 'r') as f:
    data=[x[:-1].split(': ') for x in f.readlines()]
stop_ids=[stop_id[1].split(' ')[0] for stop_id in data]
num_routes=[num_route[2].split(' ')[0] for num_route in data]
tile_gens=[tile_gen[-1] for tile_gen in data]
df2=pd.DataFrame(list(zip(stop_ids, num_routes, tile_gens)), columns=['stop_id', 'num_routes', 'tile_gens'])
df2['tile_gens']=df2['tile_gens'].astype(int)
df2['tile_gens'].sum()//60

77

In [22]:
print(df2)

    stop_id num_routes  tile_gens
0         0          3         40
1         8          2         38
2        16          2         33
3        17          4         37
4        18          1         31
..      ...        ...        ...
142     170          1         32
143     171          1         30
144     172          1         31
145     173          1         30
146     174          1         30

[147 rows x 3 columns]